<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Time IndyCar Anomaly Detection</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas0"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas1"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas2"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        
        
        const chartDataList = []
        const chartList = []
        const car_names = ['Car #12', 'Car #20', 'Car #9']
        
        for (var i = 0; i < 3; i++) {
            
            		var chartData = {
			labels: [],
			datasets: [{
				type: 'line',
				label: 'Speed',
				borderColor: 'black',
				borderWidth: 2,
				fill: true,
				pointRadius: 0,
				data: []
			}, {
				type: 'bar',
				label: 'Anomaly Score',
				backgroundColor: [],
				data: [],
				borderColor: 'white',
				borderWidth: 2
			}
]
		};
            
          chartDataList.push(chartData)
            
            
                   // const context = document.getElementById('canvas').getContext('2d');
        var context = document.getElementById('canvas' + i.toString() ).getContext('2d');
        
        var chart = new Chart(context, {
				type: 'bar',
				data: chartData,
				options: {
					responsive: true,
                    maintainAspectRatio: false,
                    aspectRatio: 1.2,
					title: {
						display: true,
						text: car_names[i]
					},
					tooltips: {
						mode: 'index',
                        enabled: false,
						intersect: false
					}
                    
				}
			});
            chartList.push(chart)

        }
        
        

   



        const source = new EventSource("/chart-data");
        
        
        
        

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            
            for (var i = 0; i < 3; i++) {
                console.log(chartDataList)
            
            if (chartDataList[i].labels.length == 20) {
                chartDataList[i].labels.shift();
                chartDataList[i].datasets[0].data.shift();
                chartDataList[i].datasets[1].data.shift();
                chartDataList[i].datasets[1].backgroundColor.shift();
            }
            chartDataList[i].labels.push(data.time);
            chartDataList[i].datasets[0].data.push(data.speed_data[i]);
            var a_score = data.anomaly_score[i];
            chartDataList[i].datasets[1].data.push(a_score/3);
            if(a_score>220){
                chartDataList[i].datasets[1].backgroundColor.push('red');
            } else
                {
                    chartDataList[i].datasets[1].backgroundColor.push('blue');
                }
            chartList[i].update();
            }
        }
    });
</script>
</body>
</html>
